#canvas {
	border: 1px solid black;
} 

.canvasDiv_style{
	width: 587px;
    height: 572px;
}

.demoToolList {
	list-style-type:none;
	font-size:12px;
	padding:0 0 20px 20px;
}
button {
	margin:2px;
	padding:3px;
}